*.elc
session.*
site-lisp/
elpa/
server/
url/
tramp
anything-c-adaptive-history
ac-comphist.dat
semantic.cache
info/
bookmarks
auto-save-list
org-clock-save.el
ede-projects.el
places
*.swp
*.un~

/.places
/helm-adaptive-history
/projectile-bookmarks.eld
/eproject.lst
/.mc-lists.el
*flycheck*
/eshell/
/var/
.trello
request
/projectile.cache
/network-security.data
/dotemacsd-spacemacs
.python-environments
persp-confs/
anaconda-mode/
/GTAGS
/GRTAGS
/GPATH
/.vimish-fold
/meghanada
/elpa
/server
/workspace
/persp-confs
/eshell
/semanticdb
/savehist
/recentf
/magithub
/company-statistics-cache.el
/ido.last
/ycmd
