*.elc
session.*
site-lisp/
elpa/
server/
url/
tramp
anything-c-adaptive-history
ac-comphist.dat
semantic.cache
info/
bookmarks
auto-save-list
org-clock-save.el
ede-projects.el
places
*.swp
*.un~

/.places
/flycheck-org-clock-save.el
/flycheck_org-clock-save.el
/helm-adaptive-history
/projectile-bookmarks.eld
/eproject.lst
/.mc-lists.el
/.flycheck_org-clock-save.el
/eshell/
/var/
